<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Assignment 2</title>

		<meta charset="UTF-8" />
		<meta name="description" content="Simple full stack web app with spring and vue2." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- CSS Styles -->
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

		<!-- JS Script -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app" class="container">
			<!-- Title and main buttons -->
			<div id="top-bar">
				<h1>Todo List</h1>
				<button type="button" class="btn btn-primary btn-lg" @click="toggleHideDone();">Hide Completed</button>
				<button type="button" class="btn btn-success btn-lg" @click="showInput = !showInput;">New Task</button>
				<div v-if="showInput" style="display: flex; flex-direction: row">
					<input type="text" v-model="newName" required class="form-control" placeholder="New Task" />
					<button type="button" class="btn btn-success" v-if="showInput" @click="addTodo(newName); showInput = false;">Save</button>
				</div>
			</div>

			<!-- Task table -->
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">🏗️ ID</th>
						<th scope="col">🚧 Item</th>
						<th scope="col">💻 Status</th>
						<!-- <th scope="col">Timer</th> -->
						<th scope="col" class="table-tools">Settings 🛠️</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="row in displayedTask">
						<!-- <tr v-for="row in rows"> -->
						<th scope="row">{{row['id']}}</th>
						<td v-if="row.id == editForm.id">
							<input type="text" v-model="editForm.name" required class="form-control" />
						</td>
						<td v-else>{{row['name']}}</td>
						<td>{{row['status']}}</td>
						<!-- <td>{{row['timer']}}</td> -->
						<td class="table-tools">
							<button v-on:click.prevent="saveTodo" v-if="row.id == editForm.id" class="btn btn-success btn-sm">Save</button>
							<button v-on:click.prevent="toggleStatus(row)" class="btn btn-info btn-sm">Done?</button>
							<button v-on:click.prevent="editTodo(row)" class="btn btn-warning btn-sm">Edit</button>
							<button v-on:click.prevent="deleteTodo(row)" class="btn btn-danger btn-sm">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- Pagination -->
			<div class="d-flex justify-content-center">
				<div class="btn-toolbar" role="group">
					<div class="btn-group" role="group">
						<button :disabled="curPage === 1" v-on:click.prevent="setPage(1)" class="btn btn-secondary">First</button>
						<button :disabled="curPage === 1" v-on:click.prevent="setPage(curPage - 1)" class="btn btn-secondary">Prev</button>
					</div>
					<div class="btn-group" role="group">
						<div v-for="pageNumber in pageNumbers" :key="pageNumber">
							<button v-on:click.prevent="setPage(pageNumber)" class="btn btn-success">{{pageNumber}}</button>
						</div>
					</div>
					<div class="btn-group" role="group">
						<button :disabled="curPage === pageCount" v-on:click.prevent="setPage(curPage + 1)" class="btn btn-secondary">Next</button>
						<button :disabled="curPage === pageCount" v-on:click.prevent="setPage(pageCount)" class="btn btn-secondary">Last</button>
					</div>
				</div>
			</div>
		</div>

		<!-- JS Script -->
		<script src="js/script.js"></script>
	</body>
</html>
