<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>EE4216 Test 2</title>
	</head>
	<body>
		<div>
			<h1>IMDB Movies <span th:text="${studentId}"></span></h1>
			<table border="1">
				<thead>
					<tr>
						<th>ID</th>
						<th>Movie Name</th>
						<th>Year</th>
						<th>Rank</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="movie : ${movies}">
						<td th:text="${movie.id}"></td>
						<td th:text="${movie.name}"></td>
						<td th:text="${movie.year}"></td>
						<td th:text="${movie.rank}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
